:root{
    --color-menu-bar : #3B3ECE;
    --color-text-light: #fff;
    --color-text-dark:#3F434D;
    --color-primary: #3B3ECE;
    --color-secondary : #FFA726;
    --color-notif: #FF6A6A;
    --color-place-holder: #F5F5F5;
}