:root{
    --color-menu-bar : linear-gradient(126deg,#2124b5,#3b3ece 30%,#3b3ece 70%,#2124b5);
    --color-text-light: #fff;
    --color-text-dark:#3F434D;
    --color-primary: #3B3ECE;
    --color-secondary : #FFA726;
    --color-notif: #FF6A6A;
    --color-place-holder: #F5F5F5;
    --color-place-holder2: #e2e2e2;
}