@import 'base.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color : inherit
}
html{
    font-family: iran;    
}
body{
    direction: rtl;   
}
header{
    background: var(--color-menu-bar);
    height: 67px;
}

input{
    font-family: iran;
}

@font-face {
    font-family: 'iran';
    src: url("./font/IRANSansWeb/IRANSansWeb.woff") format('woff'),
         url("./font/IRANSansWeb/IRANSansWeb.ttf") format('ttf'),
         url("./font/IRANSansWeb/IRANSansWeb.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'iran-faNum';
    src: url("./font/IRANSansWebFaNum/IRANSansWebFaNum.woff") format('woff'),
         url("./font/IRANSansWebFaNum/IRANSansWebFaNum.ttf") format('ttf'),
         url("./font/IRANSansWebFaNum/IRANSansWebFaNum.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'iran-bold';
    src: url("./font/IRANSansWeb_Bold/IRANSansWeb_Bold.woff") format('woff'),
         url("./font/IRANSansWeb_Bold/IRANSansWeb_Bold.ttf") format('ttf'),
         url("./font/IRANSansWeb_Bold/IRANSansWeb_Bold.woff2") format('woff2');
}
@font-face {
    font-family: 'iranfaNum-bold';
    src: url("./font/IRANSansWebFaNum_Bold/IRANSansWebFaNum_Bold.woff") format('woff'),
         url("./font/IRANSansWebFaNum_Bold/IRANSansWebFaNum_Bold.ttf") format('ttf'),
         url("./font/IRANSansWebFaNum_Bold/IRANSansWebFaNum_Bold.woff2") format('woff2');
    font-weight: 800;
}